<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">
<head>
    <meta charset="UTF-8">
    <title>{{ appName }}</title>
    <link href="styles/dependencies.min.css" rel="stylesheet" type="text/css"/>
    <link href="styles/app.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main-container" ui-view>
</div>
<script src="scripts/dependencies.min.js" type="text/javascript"></script>
<script src="scripts/app.min.js" type="text/javascript"></script>
</body>
</html>