<div class="container page-holder">
    <div class="row">
        <div class="col-xs-12">
            <h1>Voucher Demo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 jumbotron" ng-class="$state.current.data.pageClass" ng-animate="'view'" ui-view>

        </div>
    </div>
</div>