<div class="row">
    <div class="col-sm-12">
        <div ng-if="!buying">
            <div class="panel panel-default">
                <div class="panel-heading">Products in store</div>
                <table class="table table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Add to cart</th>
                    </tr>
                    </thead>
                    <tbody class="products">
                    <tr ng-repeat="product in products" ng-init="product.isChecked = false"
                        ng-click="onProductClick(product)">
                        <td class="name" ng-bind="product.name"></td>
                        <td class="price" ng-bind="product.price"></td>
                        <td class="check">
                            <input type="checkbox" ng-model="product.isChecked"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="cart.sum > 0">
                <div class="pull-right">
                    <form novalidate class="form" name="voucherForm">
                        <div class="form-field">
                            <label for="voucher">Voucher</label>
                            <input name="voucher"
                                   type="text"
                                   class="form-control"
                                   id="voucher"
                                   placeholder="Enter voucher code"
                                   ng-change="onVoucherChange()"
                                   ng-model="voucher.value"
                                   autocomplete="off"
                                   ng-model-options="{ updateOn: 'default blur',
                               debounce: {'default': 250, 'blur': 0} }">

                        </div>
                        <div class="voucher-info text-center" ng-show="voucherForm.voucher.$dirty">
                            <div ng-show="voucher.status == 'checking'">
                                <span class="glyphicon glyphicon-refresh spin"></span>
                                <span>Checking</span>
                            </div>
                            <div ng-show="voucher.status != 'checking'"
                                 ng-class="voucher.isValid ? 'text-success' : 'text-danger'">
                            <span class="glyphicon"
                                  ng-class="voucher.isValid ? 'glyphicon-ok-sign' : 'glyphicon-remove-sign'"></span>
                        <span ng-if="voucher.isValid">
                            <span ng-if="voucher.discountType == 'rate'">
                                -{{voucher.discountValue}}% discount!
                            </span>
                             <span ng-if="voucher.discountType == 'price'">
                                -{{voucher.discountValue}}$ discount!
                            </span>
                        </span>
                                <span ng-if="!voucher.isValid" ng-bind="voucher.errorMessage"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pull-left">
                    <h3 class="panel-title">Cart</h3>
                    <p>
                        Sum: {{cart.sum}}$
                    </p>
                    <p ng-show="voucher.isValid">
                        <span>Discount: </span>
                            <span ng-if="voucher.discountType == 'rate'">
                                -{{voucher.discountValue}}%
                            </span>
                             <span ng-if="voucher.discountType == 'price'">
                                -{{voucher.discountValue}}$
                            </span>
                    </p>
                    <p ng-show="voucher.isValid">
                        Sum after discount: {{cart.sumAfterDiscount}}$
                    </p>
                    <div class="buy">
                        <div class="btn btn-primary" ng-click="buy()">Buy!</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div ng-if="buying" class="text-center">
            <h3 ng-hide="bought">Checking out....</h3>
            <h3 ng-show="bought" class="text-success">Success!!</h3>
            <p ng-show="bought" ng-bind="usedVoucherMessage"></p>
        </div>
    </div>
</div>