<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Thank You for using our store!</h2>
        <div class="margin-v"><img src="http://lorempixel.com/400/200/cats/"/></div>
        <div class="btn btn-success" ui-sref="pages.shop">< Try again?</div>
    </div>
</div>